<div class="container-sec">
  <div class="commerce-sidebar">
    <div class="sidebar-head">
      <div class="" style="width: 150px">
        <img src="assets/image/shopaverLogo-Login2.png" width="150" alt="" />
      </div>
    </div>

    <div class="sidebar-main-container" (click)="goTo('landing-page-list')">
      <div class="sidebar-item" >
        <span>Landing page list</span>
        <span class="arrow">›</span>
      </div>

      <div class="sidebar-item"  (click)="goTo('landing-page-data')">
        <span>Form Data</span>
        <span class="arrow">›</span>
      </div>
          <div class="sidebar-item" [ngClass]="{ 'active': isActiveRoute('/deleted-page-list') }">
        <span>Deleted Slugs</span>
        <span class="arrow">›</span>
      </div>
        <div class="logoutbtn">
       <button (click)="logout()">Logout</button>
     </div>
    </div>
  </div>
  <div class="main-container">
    
<div class="head">
    <button class="save" [routerLink]="['/landing-page-list']">Back</button>
</div>
    <div class="content-wrapper">
      <div class="page-card" *ngFor="let card of pageCards">
        <div class="card-actions">
          <i class="fa-solid fa-download download-icon" (click)="openRetrieveModal(card.slug); $event.stopPropagation()"></i>
        </div>

        <h3 style="margin-top: 15px">{{ card.slug }}</h3>
        <p>{{ card.title }}</p>

        <div class="preview">
          <img [src]="card.preview_image" [alt]="card.title || 'Preview Image'" />
        
        </div>
      </div>

      <!-- <p *ngIf="pageCards.length === 0">No pages available</p> -->
    </div>
  </div>
</div>


<!-- DELETE CONFIRM MODAL -->
<div class="modal-backdrop" *ngIf="showRetrieveModal">
  <div class="modal">
    <p>Are you sure you want to Retrieve this page {{ selectedSlug }} ?</p>

    <div class="modal-actions">
       <button class="no-btn" (click)="cancelRetrieve()">No</button>
      <button class="yes-btn" (click)="confirmRetrieve()">Yes</button>
     
    </div>
  </div>
</div>