<div class="container">
  <div class="commerce-sidebar">
    <div class="sidebar-head">
      <div class="" style="width: 150px">
        <img src="assets/image/shopaverLogo-Login2.png" width="150" alt="" />
      </div>
      <!-- <p>Create</p> -->
    </div>

    <div class="sidebar-main-container">
      <div class="sidebar-item" [class.active]="activeSection === 'title'" [class.disabled]="mode === 'create'"
        (click)="mode === 'edit' ? setActiveSection('title') : null">
        <span>Title & Desc. Info</span>
        <span class="arrow">›</span>
      </div>

      <div class="sidebar-item" [class.active]="activeSection === 'hero'" [class.disabled]="mode === 'create'"
        (click)="mode === 'edit' ? setActiveSection('hero') : null">
        <span>Hero Section</span>
        <span class="arrow">›</span>
      </div>

      <div class="sidebar-item" [class.active]="activeSection === 'all'" [class.disabled]="mode === 'create'"
        (click)="mode === 'edit' ? setActiveSection('all') : null">
        <span>All in one Section</span>
        <span class="arrow">›</span>
      </div>

      <div class="sidebar-item" [class.active]="activeSection === 'why'" [class.disabled]="mode === 'create'"
        (click)="mode === 'edit' ? setActiveSection('why') : null">
        <span>Why choose us Section</span>
        <span class="arrow">›</span>
      </div>

      <div class="sidebar-item" [class.active]="activeSection === 'faq'" [class.disabled]="mode === 'create'"
        (click)="mode === 'edit' ? setActiveSection('faq') : null">
        <span>Faq Section</span>
        <span class="arrow">›</span>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div style="display: flex; justify-content: end; padding-bottom: 15px; gap: 10px">
      <button class="save" [routerLink]="['/landing-page-list']">Back</button>
      <!-- <button class="save" type="button" (click)="savePage()" *ngIf="activeSection !== 'faq'">
        {{ mode === 'edit' ? 'Update' : 'Save' }}
      </button> -->
      <!-- UPDATE BUTTON: har section me visible in edit mode -->
      <button class="save" type="button" *ngIf="mode === 'edit' && activeSection !== 'faq'" (click)="savePage()">
        Update
      </button>

      <!-- SAVE BUTTON: sirf last section me visible -->
      <button class="save" type="button" *ngIf="mode === 'create' && activeSection === 'why'" (click)="savePage()">
        Save
      </button>
    </div>
    <form>
      <!-- TITLE SECTION -->
      <div class="Title-section" *ngIf="activeSection === 'title'">
        <div>
          <label>Title*</label>
          <input type="text" name="metaTitle" [ngModelOptions]="{ standalone: true }" [(ngModel)]="titleData.title"
            (input)="titleErrors.title = false" [class.invalid]="titleErrors.title" placeholder="Write Title" />
          <div class="error" *ngIf="titleErrors.title">This field is required</div>
        </div>

        <div>
          <label>Description*</label>
          <textarea name="metaDescription" [(ngModel)]="titleData.description" placeholder="Write Description"
            [class.invalid]="titleErrors.description" (input)="titleErrors.description = false"></textarea>
          <div class="error" *ngIf="titleErrors.description">This field is required</div>
        </div>

        <div>
          <label>Slug*</label>
          <input type="text" name="slug" [(ngModel)]="titleData.slug" placeholder="example-landing-page"
            [class.invalid]="titleErrors.slug" (input)="titleErrors.slug = false; slugError = ''" />
          <div class="error" *ngIf="titleErrors.slug">
            {{ slugError || 'This field is required' }}
          </div>
        </div>

        <button class="save" type="button" (click)="checkSlugAndNext()">Next</button>
      </div>

      <!-- HERO SECTION -->
      <div class="Hero-section" *ngIf="activeSection === 'hero'">
        <div>
          <label>Heading</label>
          <input type="text" name="heroHeading" [(ngModel)]="heroData.heading" [class.invalid]="heroErrors.heading"
            (input)="heroErrors.heading = false" />
          <div class="error" *ngIf="heroErrors.heading">This field is required</div>
        </div>

        <div>
          <label>Keyword</label>
          <input type="text" name="heroKeyword" [(ngModel)]="heroData.keyword" (input)="heroErrors.keyword = false"
            [class.invalid]="heroErrors.keyword" , />
          <div class="error" *ngIf="heroErrors.keyword">This field is required</div>
        </div>

        <div>
          <label>Paragraph</label>
          <input type="text" name="heroParagraph" [(ngModel)]="heroData.paragraph"
            (input)="heroErrors.paragraph = false" [class.invalid]="heroErrors.paragraph" , />
          <div class="error" *ngIf="heroErrors.paragraph">This field is required</div>
        </div>

        <!-- <div>
          <label>Image</label>
          <input type="file"  (change)="onHeroImage($event); heroErrors.image = false"
  [class.invalid]="heroErrors.image"/>
          <div class="error" *ngIf="heroErrors.image">Please select an image</div>
        </div> -->
        <div>
          <label>Image</label>

          <!-- hidden file input -->
          <input type="file" #heroFileInput (change)="onHeroImage($event); heroErrors.image = false"
            style="display: none" />

          <!-- custom file chooser -->
          <div class="custom-file" (click)="heroFileInput.click()">
            <span>
              {{
              heroData.image?.name ||
              (heroData.imagePath ? heroData.imagePath.split('/').pop() : null) ||
              'Choose file'
              }}
            </span>
            <button type="button">Browse</button>
          </div>

          <!-- <div class="error" *ngIf="heroErrors.image">Please select an image</div> -->
          <div class="error" *ngIf="heroErrors.image">
            {{ heroErrors.imageErrorMsg }}
          </div>

          <div *ngIf="heroData.imagePath">
            <img [src]="heroData.imagePath" [src]="isUploaded ? baseUrl + heroData.imagePath : heroData.imagePath"
              style="max-width: 200px; margin-top: 10px" />
          </div>
        </div>
        <button class="save" *ngIf="heroData.image" type="button" (click)="uploadHeroImage()">
          Upload Image
        </button>

        <div style="display: flex; flex-direction: row; gap: 10px">
          <button class="save" type="button" (click)="prevSection('title')">Previous</button>
          <button class="save" type="button" (click)="nextSection('all')">Next</button>
        </div>
      </div>

      <!-- ALL IN ONE -->
      <div class="all-in-one-section" *ngIf="activeSection === 'all'">
        <div *ngFor="let card of allInOneCards; let i = index">
          <input type="text" name="heading{{ i }}" [(ngModel)]="card.heading" placeholder="Heading"
            (input)="allInOneErrors[i].heading = false" [class.invalid]="allInOneErrors[i]?.heading" , />
          <div class="error" *ngIf="allInOneErrors[i]?.heading">This field is required</div>
          <input type="text" name="subHeading{{ i }}" [(ngModel)]="card.subHeading" placeholder="Subheading"
            (input)="allInOneErrors[i].subHeading = false" [class.invalid]="allInOneErrors[i]?.subHeading" , />
          <div class="error" *ngIf="allInOneErrors[i]?.subHeading">This field is required</div>
          <input type="text" name="paragraph{{ i }}" [(ngModel)]="card.paragraph" placeholder="Paragraph"
            (input)="allInOneErrors[i].paragraph = false" [class.invalid]="allInOneErrors[i]?.paragraph" , />
          <div class="error" *ngIf="allInOneErrors[i]?.paragraph">This field is required</div>
          <input type="file" #allFileInput (change)="onAllInOneImage($event, i); allInOneErrors[i].image = false"
            [class.invalid]="allInOneErrors[i]?.image" style="display: none" />
          <div class="custom-file" (click)="allFileInput.click()">
            <span>
              {{
              allInOneCards[i].image?.name ||
              (allInOneCards[i].imagePath
              ? allInOneCards[i].imagePath.split('/').pop()
              : null) ||
              'Choose file'
              }}
            </span>
            <button type="button">Browse</button>
          </div>
          <!-- <div class="error" *ngIf="allInOneErrors[i]?.image">Please select an image</div>
      <div *ngIf="card.imagePath">
  <img 
    [src]="baseUrl + card.imagePath" 
    style="max-width: 200px; margin-top: 10px" 
    alt="Preview"
  />
</div> -->
          <div class="error" *ngIf="allInOneErrors[i]?.image">{{ card.imageErrorMsg }}</div>

          <div *ngIf="card.imagePath">
            <img [src]="card.imagePath.startsWith('http') 
            ? card.imagePath 
            : baseUrl + card.imagePath" style="max-width: 200px; margin-top: 10px" />
          </div>
          <div style="display: flex; flex-direction: row; gap: 10px">
            <button class="save" *ngIf="card.image" type="button" (click)="uploadAllInOneImage(i)">
              Upload Image
            </button>

            <button class="save" type="button" *ngIf="allInOneCards.length > 1" (click)="removeAllInOneCard(i)">
              Remove
            </button>
          </div>
        </div>

        <div style="display: flex; flex-direction: row; gap: 10px">
          <button class="add-btn" type="button" (click)="addAllInOneCard()">+ Add Card</button>

          <button class="save" type="button" (click)="prevSection('hero')">Previous</button>
          <button class="save" type="button" (click)="nextSection('why')">Next</button>
        </div>
      </div>

      <!-- WHY CHOOSE US -->
      <!-- <div class="why-choose-us-section" *ngIf="activeSection === 'why'">
        <input
          type="text"
          name="whyHeading"
          [(ngModel)]="whyChooseUsData.heading"
          placeholder="Heading"
          (input)="whyErrors.heading = false"
          [class.invalid]="whyErrors.heading"
          ,
        />
        <div class="error" *ngIf="whyErrors.heading">This field is required</div>
        <input
          type="text"
          name="whyParagraph"
          [(ngModel)]="whyChooseUsData.paragraph"
          placeholder="Paragraph"
          (input)="whyErrors.paragraph = false"
          [class.invalid]="whyErrors.paragraph"
          ,
        />
        <div class="error" *ngIf="whyErrors.paragraph">This field is required</div>

        <button class="save" type="button" (click)="prevSection('all')">Previous</button>
      </div> -->
      <div class="why-choose-us-section" *ngIf="activeSection === 'why'">
        <!-- Card 1 -->
        <div>
          <label>Heading 1</label>
          <input type="text" name="whyHeading1" [(ngModel)]="whyHeading1" placeholder="Enter heading for card 1" />
          <label>Paragraph 1</label>
          <input type="text" name="whyParagraph1" [(ngModel)]="whyParagraph1"
            placeholder="Enter paragraph for card 1" />
        </div>

        <!-- Card 2 -->
        <div>
          <label>Heading 2</label>
          <input type="text" name="whyHeading2" [(ngModel)]="whyHeading2" placeholder="Enter heading for card 2" />
          <label>Paragraph 2</label>
          <input type="text" name="whyParagraph2" [(ngModel)]="whyParagraph2"
            placeholder="Enter paragraph for card 2" />
        </div>

        <!-- Card 3 -->
        <div>
          <label>Heading 3</label>
          <input type="text" name="whyHeading3" [(ngModel)]="whyHeading3" placeholder="Enter heading for card 3" />
          <label>Paragraph 3</label>
          <input type="text" name="whyParagraph3" [(ngModel)]="whyParagraph3"
            placeholder="Enter paragraph for card 3" />
        </div>

        <button class="save" type="button" (click)="prevSection('all')">Previous</button>
      </div>
      <!-- FAQ -->
      <div class="faq-section" *ngIf="activeSection === 'faq'">
        <div *ngFor="let faq of faqs; let i = index">
          <input type="text" name="question{{ i }}" [(ngModel)]="faq.question" placeholder="Question" />

          <input type="text" name="answer{{ i }}" [(ngModel)]="faq.answer" placeholder="Answer" />

          <button class="save" type="button" *ngIf="faqs.length > 1" (click)="removeFaq(i)">
            Remove
          </button>
        </div>

        <div style="display: flex; flex-direction: row; gap: 10px">
          <button class="add-btn" type="button" (click)="addFaq()">+ Add FAQ</button>

          <button class="save" type="button" (click)="prevSection('why')">Previous</button>

          <!-- FINAL SAVE -->
          <!-- <button class="save" (click)="saveFaq(mode)" type="button">{{ mode }} faq</button> -->
           <button class="save" (click)="saveFaq(mode)" type="button">
  {{ mode === 'edit' ? 'Update FAQ' : 'Save FAQ' }}
</button>
        </div>
      </div>
    </form>
  </div>
</div>